body {
    margin: 0;
    padding: 0;
}

.background-container {
    height: 100vh;
    background: url('https://images.pexels.com/photos/1194713/pexels-photo-1194713.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    letter-spacing: 3px;
}

.btn {
    padding: 19px 35px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    background-color: rgb(208, 28, 28);
    color: chartreuse;
}

.btn:hover {
    filter: brightness(2);
    font-weight: 600;
    box-shadow: 2px 2px 4px rgba(255,255,255,0.6);
}

.active.background-container {
    filter: blur(10px) brightness(0.7);
}

.login-container {
    background: url('https://images.pexels.com/photos/792199/pexels-photo-792199.jpeg?auto=compress&cs=tinysrgb&w=600');
    color: rgb(197, 63, 107);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: fixed;
    left: 50%;
    top: 20%;
    width: 400px;
    height: 350px;
    transform: translatex(-50%);
    display: block;
    padding: 30px;
    font-size: 20px;
}

.fa-solid {
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
    color: black;
}

.fa-solid:hover {
    color: rgb(218, 52, 55);
}

.login-container div {
    margin: 10px;
    margin-top: 35px;
}

h2 {
    text-align: center;
    margin-top: 40px;
    color: rgb(98, 10, 104);
    font-size: 32px;
}

input {
    padding: 5px;
    text-align: center;
}

input::placeholder {
    color: grey;
}

.visible.login-container {
    visibility: hidden;
}

@media (max-width: 480px) {
    h1 {
        text-align: center;
    }
}